<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      <button mat-button (click)="decrementModelIndex()" [disabled]="selectedModelIndex<1"><</button>
      <span class="peak-index">{{selectedModelIndex+1}}</span>
      <button mat-button (click)="incrementModelIndex()">></button>
      <button mat-mini-fab color="primary" (click)="removePeak()">-</button>
      {{peak.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let param of peak.parameters" class="parameter-item-container">
      <app-parameter-item-simple [parameter]="param" class="parameter-item" ></app-parameter-item-simple>
    </div>
  </mat-card-content>
</mat-card>
