.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: relative;
  height: 55px;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 28px;
  text-align: right;
}

.logo {
  height: 65%;
  margin: 0 12px;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.left-content, .right-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 250px;
  min-width: 250px;
}

.left-content > *:not(:last-child), .right-content-peaks > :not(:last-child) {
  margin-bottom: 12px;
  display: block;
}

.central-content {
  flex: 1;
  margin: 0 24px;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.footer {
  height: 20px;
  text-align: center;
  font-size: 10px;
}
