<mat-sidenav-container>
  <mat-sidenav #sidenav>
    Menu
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar mat-elevation-z10" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      PeakProphet
    </mat-toolbar>
    <main class="content">
      <div class="left-content">
        <app-data-control></app-data-control>
        <app-bkg-control></app-bkg-control>
      </div>
      <div class="central-content">
        <app-plot></app-plot>
      </div>
      <div class="right-content">
        <app-peak-control></app-peak-control>
        <app-peak-item></app-peak-item>
        <div class="spacer"></div>
        <app-mouse-position></app-mouse-position>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



