.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.left-content {
  width: 250px;
}

.central-content {
  flex: 1;
  margin: 0 24px;
}

.right-content {
  overflow: auto;
  width: 250px;
  min-width: 250px;
}

