<mat-sidenav-container>
  <mat-sidenav #sidenav>
    Menu
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar mat-elevation-z10" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      PeakProphet
    </mat-toolbar>
    <main class="content">
      <div class="left-content">
        <app-plot></app-plot>
      </div>
      <div class="right-content">
        <app-peak-control></app-peak-control>
        <app-peak-item></app-peak-item>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



