
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-checkbox {
  display: block;
  margin-right: 0;
  flex: 0;
}


app-number-input {
  flex: 1;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: block;
}
