
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container > * {
  margin-right: 12px;
}

mat-checkbox {
  display: block;
  margin-right: 0;
  flex: 0;
}


/*app-number-input {*/
/*  flex: 1;*/
/*}*/
