<mat-card class="mat-elevation-z24">
  <mat-card-content class="content">
    <div class="option-column">
      <mat-checkbox
        [(ngModel)]="batchFitService.propagateModels"
        matTooltip="Propagate peaks and background models to next datasets"
        matTooltipShowDelay="500"
        matTooltipPosition="above"
      >propagate
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="batchFitService.startFromSelected"
        matTooltip="Start fitting from selected dataset"
        matTooltipShowDelay="500"
        matTooltipPosition="above"
      >from selected
      </mat-checkbox>
    </div>
    <div class="button-column">
      <button
        mat-raised-button
        color="primary"
        (click)="batchFitService.batchFit()"
        *ngIf="!batchFitService.fitting"
      >Batch
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="batchFitService.stopBatchFit()"
        *ngIf="batchFitService.fitting"
      >Stop
      </button>
    </div>

  </mat-card-content>
</mat-card>
