.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.content > *:not(:last-child) {
  margin-bottom: 12px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.option-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.option-row > *:not(:last-child) {
  margin-right: 5px;
}

.example-right-align {
  text-align: right;
}
