@use '@angular/material' as mat;

$my-accent: mat.m2-define-palette(mat.$m2-orange-palette, 500, 200, 100);
$my-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 700, 100, 900);
$my-warning: mat.m2-define-palette(mat.$m2-red-palette, 700, 50, 900);
