/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overscroll-behavior: None;
  scroll-behavior: smooth;
  scrollbar-width: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(48, 48, 48);
  margin-block: 2px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 77, 80);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 92, 93);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(253, 151, 0);
}
