<mat-card class="mat-elevation-z24">
  <mat-card-content>
    <div class="file-container">
      <div class="fit-model-name" data-test="fit-model-name">{{selectedFitModelName}}</div>
      <button
        type="button"
        mat-icon-button
        class="mat-elevation-z3"
        matTooltip="Add xy dataset files from your computer."
        matTooltipShowDelay="1000"
        matTooltipPosition="above"
        (click)="fileInput.click()">
        <mat-icon>folder-open</mat-icon>
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" multiple>
    </div>

    <div class="fit-model-outer-container mat-elevation-z6">

        <div class="fit-model-inner-container">
          <fieldset [disabled]="disabledBrowser">
             <div class="fit-button-container">
            <button
              type="button"
              class="small-icon-button mat-elevation-z3"
              mat-icon-button
              (click)="moveModelUp()"
              matTooltip="Move the selected dataset up in the list."
              matTooltipShowDelay="1000"
              matTooltipPosition="above"
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button
              type="button"
              class="small-icon-button mat-elevation-z3"
              mat-icon-button
              (click)="moveModelDown()"

              matTooltip="Move the selected dataset down in the list."
              matTooltipShowDelay="1000"
              matTooltipPosition="below"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <div class="spacer"></div>
            <button
              type="button"
              class="small-icon-button mat-elevation-z3"
              mat-icon-button
              (click)="removeModel()"
              matTooltip="Remove the selected dataset from the list."
              matTooltipShowDelay="1000"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              type="button"
              class="small-icon-button mat-elevation-z3"
              mat-icon-button
              (click)="clearModels()"
              matTooltip="Remove all datasets."
              matTooltipShowDelay="1000"
              matTooltipPosition="below"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
          </fieldset>

          <div class="fit-model-list">
            <mat-selection-list [multiple]="false" (selectionChange)="onListSelectionChanged($event)">
              <mat-list-option *ngFor="let name of fitModelNames; let i = index" [value]=name
                               [selected]="i===selectedModelIndex">
                <span class="list-option">{{name}}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>


      <fieldset [disabled]="disabledBrowser">
        <div class="browse-row">
          <div class="spacer"></div>
          <app-browse-index
            [index]="selectedModelIndex"
            [min]="0"
            [max]="modelNum"
            [add]="1"
            (indexChange)="selectModel($event)"
          ></app-browse-index>
        </div>
      </fieldset>

    </div>
  </mat-card-content>
</mat-card>
