.file-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.file-container > *:not(:last-child) {
  margin-right: 6px;
}

mat-card {
  max-height: 350px;
  display: flex;
  flex-direction: column;
}


fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fit-model-list {
  flex-grow: 1;
  overflow: auto;
  height: 150px;
  /*box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(100, 100, 100),*/
  /*0.3em 0.3em 1em rgba(0, 0, 0, 0.3);*/

  box-shadow: inset -5px -5px 50px #303030;
  border-radius: 4px;

}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 20px;
  font-size: 5px;
}

.list-option {
  font-size: 12px;
  text-align: right;
  width: 100%;
  float: right;
}

.mat-mdc-list-option .mdc-radio__outer-circle {
  border-radius: 50%;
  height: 5px !important;
}


:host /deep/ .mat-mdc-list-option .mdc-radio__outer-circle {
  top: 3px;
  left: 3px;
  height: 14px;
  width: 14px
}

:host /deep/ .mat-mdc-list-option .mdc-radio__inner-circle {
  top: 3px;
  left: 3px;
  border-width: 7px;
  width: 3px;
  height: 3px;
}

:host /deep/ .mdc-list-item--with-trailing-radio .mdc-list-item__end {
  width: 30px;
  margin-left: 0;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

}
.small-icon-button > *[role=img] {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.small-icon-button > *[role=img] svg {
  width: 16px;
  height: 16px;
}


.mat-mdc-button-touch-target {
  width: 24px !important;
  height: 24px !important;
}

.fit-model-inner-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.fit-model-outer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 12px;

}

.fit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin: 3px;
}

.fit-button-container > *:not(:last-child) {
  margin-bottom: 6px;
}

.spacer {
  flex-grow: 1;
}

.browse-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin: 2px 0;
}

.fit-model-name, .list-option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: right;
}

