<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      <div *ngIf="selectedModelIndex !== undefined">
        <span
          *ngIf="peak"
          data-test="peak-type"
          class="not-selectable"
        >{{peak.type}}</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="peak !== undefined; else elseBlock">
      <div class="browse-row" *ngIf="selectedModelIndex !== undefined">
        <app-browse-index
          [index]="selectedModelIndex"
          [max]="peakNum"
          [min]="0"
          [add]="1"
          (indexChange)="selectModel($event)"></app-browse-index>
        <div class="spacer"></div>
        <button
          mat-mini-fab
          data-test="remove-button"
          color="primary"
          (click)="removeModel()"
        >-
        </button>
      </div>
      <div *ngFor="let param of peak.parameters" class="parameter-item-container">
        <app-parameter-item-simple
          [parameter]="param"
          (parameterChange)="updateModel($event)"
          class="parameter-item">
        </app-parameter-item-simple>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="defineModel()"
        matTooltip="Define parameters by clicking into the pattern."
        matTooltipShowDelay="500"
        matTooltipPosition="above"
      >Define</button>
    </div>
    <ng-template #elseBlock class="not-selectable">
      <span class="not-selectable">No peaks defined for this pattern. </span>
    </ng-template>
  </mat-card-content>
</mat-card>
