<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      <div *ngIf="selectedPeakIndex !== undefined">

        <app-browse-index
          [index]="selectedPeakIndex"
          [max]="peakNum"
          [min]="0"
          [add]="1"
          (indexChange)="selectPeak($event)"></app-browse-index>

        <button
          mat-mini-fab
          data-test="remove-button"
          color="primary"
          (click)="removePeak()"
        >-
        </button>
        <span
          *ngIf="peak"
          data-test="peak-type"
          class="not-selectable"
        >{{peak.type}}</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="peak !== undefined; else elseBlock">
      <div *ngFor="let param of peak.parameters" class="parameter-item-container">
        <app-parameter-item-simple
          [parameter]="param"
          (parameterChange)="updatePeak()"
          class="parameter-item">
        </app-parameter-item-simple>
      </div>
      <button mat-raised-button color="primary" (click)="definePeak()">Define</button>
    </div>
    <ng-template #elseBlock class="not-selectable">
      <span class="not-selectable">No peaks defined for this pattern. </span>
    </ng-template>
  </mat-card-content>
</mat-card>
