.parameter-item-container {
  margin-top: 6px;
}

.parameter-item {
  margin: 0;
  padding: 0;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.browse-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}
